body {
    padding: 55px;
    font-family: Helvetica;
}

#photo {
    width: 750px;
    padding-left: 250px;
    padding-bottom: 50px;
}

#long {
    height: 600px;
    padding-left: 500px;
    padding-bottom: 50px;
}

#short {
    width: 400px;
    padding-left: 400px;
}